---
import Layout from '../layouts/Layout.astro';
import PersonalInfo from '../components/PersonalInfo.astro';
import LocationCard from '../components/LocationCard.astro';
import ActionButtons from '../components/ActionButtons.astro';
import ProfileImage from '../components/ProfileImage.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Projects from '../components/Projects.astro';
import BlogLink from '../components/BlogLink.astro';
---

<Layout>
	<main class="min-h-screen bg-gray-100 p-4 md:p-8 flex items-center justify-center">
		<div class="grid grid-cols-1 md:grid-cols-3 gap-4 max-w-[1400px] mx-auto h-[calc(100vh-4rem)]">
			{/* Left Column */}
			<div class="flex flex-col gap-4 h-full">
				<PersonalInfo />
				<LocationCard />
				<ActionButtons />
			</div>

			{/* Middle Column */}
			<div class="flex flex-col gap-4 h-full">
				<ProfileImage />
				<SocialLinks />
			</div>

			{/* Right Column */}
			<div class="flex flex-col gap-4 h-full">
				<Projects />
				<BlogLink />
			</div>
		</div>
	</main>
</Layout>

<style>
	:global(.animate-wave) {
		animation: wave 1s infinite;
		display: inline-block;
		transform-origin: 70% 70%;
	}

	@keyframes wave {
		0% { transform: rotate(0deg); }
		10% { transform: rotate(14deg); }
		20% { transform: rotate(-8deg); }
		30% { transform: rotate(14deg); }
		40% { transform: rotate(-4deg); }
		50% { transform: rotate(10deg); }
		60% { transform: rotate(0deg); }
		100% { transform: rotate(0deg); }
	}
</style>